@model HomeDetailsViewModel

@{
	ViewBag.Title = @Model.PageTitle;
}

<div class="row text-center d-flex align-items-center justify-content-center">
        <div class="card" style="width: 400px">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/noimage.jpg"/>

                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>

            </div>
            <div class="card-footer text-center">
                <a href="/Home/Index" class="btn btn-primary m-1">Back</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    
</div>